$off-white: #f6f6f6;
$featured-color: DarkRed;

@mixin featured($bg-color: "dark") { /*Aqui hemos creado un valor por defecto para el background color, "dark"*/
 
  /* Aqui lo que estamos diciendo es: si el bg-color es dark, quiero que el color del texto sea tomato. Cuando en los @include no introducimos ningún argumento @include nombre(....argumento...), 
 se da por hecho que el valor por defecto del mismo es el establecido en el mixin, sin necesidad de especificarlo*/
  
  @if $bg-color == "light" { /*Si el bg-color es light, poner texto en tomato */
    color:tomato;
  } @else if $bg-color =="dark"{ /*Si el bg-color es dark, poner texto en azul.*/
    color:blue;
  } @else {  /*En cualquier otro caso que no sea dark, ni light, poner texto en yellow*/
    color: yellow;
  }

  .subheading a {
    color: black;
    text-decoration: none;
    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

body {
  background-color: $off-white;
  height: 100vh;
  height: 100vw;
}

.container {
  font-family: Verdana;
  font-size: 0.8rem;
}

.page-wrapper { 
  padding: 21px;
  $featured-color: RoyalBlue;

  .featured {
    @include featured ("light"); /*Aquí hemos introducido un bg-color "light"*/
  }

  .page-content {
    background-color: $featured-color;
    padding: 42px;
    color: $off-white;

    .container {
      height: 60px !important;
      font-family: courier;

      .description {
        float: left;
        width: 75%;
      }

      .sidebar {
        font-family: Verdana;
        text-align: right;
        float: right;
        width: 25%;
        @include featured ("grey"); /*Aquí hemos introducido un bg-color que ni es "dark" ni "light"*/
      }
    }
  }
}
