/*@mixin notification($background-color, $color, $border) {
  width: 99%;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
  font-family: Verdana;
  border-radius: 3px;
  margin: 10px;
  background-color: $background-color;
  color: $color;
  border: $border;
} */

@mixin notification{
  width: 99%;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2em;
  font-family: Verdana;
  border-radius: 3px;
  margin: 10px;
  @content;
}

//Te permite incorporar de otra manera los argumentos del mixin, además de poder modificar otros valores del mixin que en sí están establecidos por defecto. Es decir, permite una manipulación más flexible a la hora de llamar a los mixin. 
.error {
  @include notification {
    background-color:DarkRed;
    color: white;
    border: 1px solid LightSlateGray;
    width: 800px;
  }
}


.success {
  @include notification {
    background-color: MediumSeaGreen;
    color: MintCream;
    border: 1px solid LightSalmon;
  }
}