/* Para declarar una variable en SCSS utilizamos el símbolo $*/

$white: #ffffff;

/*Lo que hemos hecho aquí es asignar a la variable white, los valores del color blanco (#ffffff)*/

$master-site-color: DarkGreen; 

body {
  background-color: $white;
  height: 100vh;
  height: 100vw;
}

/*La utilidad de esta forma de trabajar nos permite que, por ejemplo, si queremos modificar el background-color de todos los bodies de nuestra aplicación, con tan solo modificar la variable sería suficiente, no hace falta ir cambiando el color del fondo body por body*/

.container {
  font-family: Verdana;
  font-size: 0.8rem;
}

.page-wrapper { 
  padding: 21px;

  .featured {
    color: $master-site-color;
  }

  .page-content {
    background-color: $master-site-color;
    padding: 42px;
    color: #ffffff;
    .container {
      font-family: courier;
    }
  }
}
