/*Los primero del todo creamos el mixin con los argumentos asociados a flex con el valor false por defecto. El display:flex se queda desplegado porque siempre nos va a hacer falta*/
@mixin flex-config ($justify-content: false, $flex: false, $flex-direction: false, $align-items: false) {
  display:flex
    @if $justify-content != false {  /*Esto significa, si el justify-content no es false, pon el valor en justify content que se haya dado a la variable justify-content,es decir, 
      ....@include flex-config ($justify-content:1)...*/
      justify-content: $justify-content 
        }
    @if $flex != false {
      flex: $flex 
        }
     @if $flex-direction != false {
      flex-direction : $flex-direction 
        }
     @if $align-items != false {
      align-items  : $align-items 
        }
}

.container {
  @mixin flex-config;
  .item {
    /*flex: 1;
    display: flex;
    justify-content: space-between;*/

    /*Lo de arriba se puede sintetizar en esto con el mixin como se ve a continuación*/
    @mixin flex-config ($flex:1, $justify-content:space-between )
      
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    .content {
       @mixin flex-config
      .metadata {
        
        /*OTRO EJEMPLO: 
        display: flex;
        flex-direction:column;
        justify-content:center;
        */
        
        @mixin flex-config ($flex-direction: column, $justify-content: center)
        margin-left: 20px;
        .title {
          margin: 0px;
        }
      }
    }
    .btn-group {
      @mixin flex-config ($align-items: center)
      .button {
        height: 100%;
        @mixin flex-config ($align-items: center, $flex-direction: row, $justify-content: center)
        width: 42px;
        font-size: 2em;
        a {
          color: green;
          text-decoration: none;
        }
        &:hover {
          background-color: maroon;
          cursor: pointer;
          a {
           color: white; 
          }
        }
      }
    }
  }
}
